homework3/WebService/WebContent/wsdl/GenderService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://gender" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://gender" xmlns:intf="http://gender" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://gender" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getSex">
    <complexType>
     <sequence>
      <element name="id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSexResponse">
    <complexType>
     <sequence>
      <element name="getSexReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getSexRequest">

      <wsdl:part element="impl:getSex" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getSexResponse">

      <wsdl:part element="impl:getSexResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="GenderService">

      <wsdl:operation name="getSex">

         <wsdl:input message="impl:getSexRequest" name="getSexRequest">

       </wsdl:input>

         <wsdl:output message="impl:getSexResponse" name="getSexResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GenderServiceSoapBinding" type="impl:GenderService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getSex">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSexRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSexResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GenderServiceService">

      <wsdl:port binding="impl:GenderServiceSoapBinding" name="GenderService">

         <wsdlsoap:address location="http://localhost:8080/WebService/services/GenderService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
