homework3/WebService/WebContent/wsdl/LegalService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://legal" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://legal" xmlns:intf="http://legal" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://legal" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="isLegal">
    <complexType>
     <sequence>
      <element name="id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="isLegalResponse">
    <complexType>
     <sequence>
      <element name="isLegalReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="isLegalResponse">

      <wsdl:part element="impl:isLegalResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="isLegalRequest">

      <wsdl:part element="impl:isLegal" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="LegalService">

      <wsdl:operation name="isLegal">

         <wsdl:input message="impl:isLegalRequest" name="isLegalRequest">

       </wsdl:input>

         <wsdl:output message="impl:isLegalResponse" name="isLegalResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="LegalServiceSoapBinding" type="impl:LegalService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="isLegal">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isLegalRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="isLegalResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="LegalServiceService">

      <wsdl:port binding="impl:LegalServiceSoapBinding" name="LegalService">

         <wsdlsoap:address location="http://localhost:8080/WebService/services/LegalService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
