homework3/WebService/WebContent/wsdl/ProvinceService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://province" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://province" xmlns:intf="http://province" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://province" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getProvince">
    <complexType>
     <sequence>
      <element name="id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getProvinceResponse">
    <complexType>
     <sequence>
      <element name="getProvinceReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getProvinceRequest">

      <wsdl:part element="impl:getProvince" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getProvinceResponse">

      <wsdl:part element="impl:getProvinceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ProvinceService">

      <wsdl:operation name="getProvince">

         <wsdl:input message="impl:getProvinceRequest" name="getProvinceRequest">

       </wsdl:input>

         <wsdl:output message="impl:getProvinceResponse" name="getProvinceResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ProvinceServiceSoapBinding" type="impl:ProvinceService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getProvince">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getProvinceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getProvinceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ProvinceServiceService">

      <wsdl:port binding="impl:ProvinceServiceSoapBinding" name="ProvinceService">

         <wsdlsoap:address location="http://localhost:8080/WebService/services/ProvinceService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
